@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

*::selection{
    background-color:#FCE003;
    color:white;
}

/* COLORS */
:root {
    --strong-color: #FF3345;
    --primary-color: #344565;
}
/* Z-INDEX */
:root {
    --z-tooltip: 50;
    --z-normal: 1;
    --z-absolute:100;

}


/* FONT FAMILY - SIZE*/
:root{
    --body-font: 'Zen Kaku Gothic Antique';
    --normal-font-size: 1rem;
    --small-font-size: 0.87rem;
}

body{
    max-width:1200px;
    margin: 0 auto;
    font-family: var(--body-font);
    
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

ul{
    padding:0;
    margin:0;
    list-style: none;
}
a{
    text-decoration:none;
    color:inherit;
    
}
img{
    width:100%;
    height:auto;
}
/* LAYOUT */

.header{
    padding-left:1rem;
    padding-right:1rem;
}
.header img {
    cursor:pointer;
}
.global__information{
    display:flex;
    justify-content: space-between;
    padding-top:0.5rem;
    padding-bottom:1rem;
    font-size: var(--small-font-size);
}
.global__information-securityphone{
    margin-right:5rem;
}
.header__images{
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: space-between;
}
.header__images-law > img {
    width:230px;
    height:auto;
}
.header__images-search{
    align-self:center;
    font-size:1.7rem;
    border-left:1px solid rgba(0,0,0,0.5);
    padding-left:1rem;
    opacity:0.2;
    cursor:pointer;
}


.header__socials{
    display:flex;
    justify-content: flex-end;
    align-items:center;
}

.nav{
    background-color: var(--primary-color);
    position:relative;
}
.nav__list{
    display:flex;
    
    
}
.nav__item:hover{
    background-color: var(--strong-color);
    color:white;
}
.nav__link{
    display:flex;
    gap:7px;
    color:white;
    align-items:center;
}


.nav__item-list{
    position:absolute;
    top:100%;
    left:0;
    width:200px;
    transform-origin:center top;
    transform:scaleY(0);
    z-index: var(--z-absolute);
}
.nav__item:hover .nav__item-list {
    transform:scaleY(1);
}

.nav__item{
    padding:1rem;
    position:relative;
    display:flex;
    align-items:center;
    justify-content: space-between;
    font-size:var(--small-font-size);
    
}
.nav__item-list > li{
    border-bottom:1px solid rgba(0,0,0,0.2);
    color:var(--primary-color);
    padding:0.5rem;
    cursor:pointer;
    background-color: white;
    
}
.nav__item-list li:hover{
    background-color: var(--strong-color);
}
.nav__item-list li:last-child{
    border:none;
}

.menu__toggle{
    display:none;
}
@media screen and (max-width:768px){
    .nav__list{
        display:none;
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        z-index: var(--z-absolute);
        flex-direction: column;
    }
    .nav__item{
        background-color: var(--primary-color);
    }
    .nav__item-list{
        background-color: white;
        width:100%;
    }
}

.main{
    font-size: var(--normal-font-size);
    margin-top:0.3rem;
}
.inicio{
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #1E73BE;
    color:white;
    gap:15px;
    font-size:2.3rem;
    padding:1rem;

}


.slider-container{
    margin-top:1rem;
    display:grid;
    grid-template-columns: 130px 1fr;
    position:relative;
    overflow: hidden;
}
.thumbnails{
    position:absolute;
    
    grid-column: 1;

}
.thumbnail{
    width:130px;
    padding-left:2.5rem;
}
.thumbnail > img {
    width:130px;
    height:130px;
    object-fit: cover;
}
.slider{
    grid-column: 2;
    display:flex;

}
.slide{
    flex: 1 0 100%;
    
    text-align: right;
}
.slide > img{
    width:100%;
    max-width:1000px;
    

}




.shortcut{
    margin: 1rem 0;
    
    text-align:center;
    padding: 0.5rem 0;
}
.shortcut__title{
    margin-top:-0.5rem;
    font-weight: bold;
    color:white;
}

.shortcut:nth-child(1){
    background-color: #618DCE;
}
.shortcut:nth-child(2){
    background-color: #FF3345;
}
.shortcut:nth-child(3){
    background-color: #EA9A56;
}
.shortcut:nth-child(4){
    background-color: #4EAC5B;
}
.shortcut:nth-child(5){
    background-color: #AFA2C4;
}
.shortcut:nth-child(6){
    background-color: #B77319;
}
.shortcut:nth-child(7){
    background-color: #6ED6EC;
}


.container{
    display:grid;
    grid-template-columns: 1fr;
    padding:0 1rem;
    

}

.banner{
    background-color: #8F7F68;
    color:white;

    display:flex;
    align-items:center;
    gap:10px;
    font-size:1.2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    margin-bottom:1rem;
}
.banner__title{
    margin:0;
    padding:0.7rem;
    

}

.news__main-header{
    display:grid;
    grid-template-columns: auto 1fr;
    grid-template-columns: auto auto;
    align-items:center;
}

.news__main-header .new__date{
    grid-column: 2;
    grid-row:2;
}
.news__main-logo{
    width:120px;
    height:auto;
}

.new {
    display:grid;
    grid-template-columns: auto 1fr;
    align-items:flex-start;
    gap:20px;
    margin-bottom:1rem;
}
.new__title{
    margin:0;
    font-size:1rem;
    color:var(--primary-color);
}
.new__title:hover{
    cursor:pointer;
    
    text-decoration: underline;
}
.new__date{
    font-size:0.8rem;
    color: var(--primary-color);
    opacity:0.5;
    display:block;
    
   
}
.new__description{
    font-size:0.8rem;
}

.new__img{
    width: 100px;
    height:auto;
    object-fit: contain;
}

.channel__videos{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap:10px;

}
.video__image{
    position:relative;
}
.video__title{
   font-style:italic;
   color:var(--primary-color);
   cursor:pointer;
   transition: all 200ms;
}
.video__title:hover{
    text-decoration: underline;
    color:#FCE003;
}
.video__date{
    font-size:var(--small-font-size);
}
.video-hover{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(255,255,255,0.3);
    display:none;
    justify-content: center;
    align-items: center;
    font-size:3rem;
    color:rgba(255,0,0,0.8);

}
.video__image:hover .video-hover{
    display:flex;
    cursor:pointer;
}

/* COMPONENTS */
.link-icon{
    color:white;
}
.link-arrow{
    font-size:8px;
}
.nav-active{
    background-color: var(--strong-color);
}

#menu-close{
    transform:rotate(45deg);
}
.social-icon{
    color:var(--strong-color);
    font-size:1.6rem;
    padding:0.8rem;
    cursor:pointer;
}

.shortcut-icon{
    font-size:2.5rem;
}


.separator{
    width:1px;
    height:30px;
    background-color: white;
    margin-right:0.5rem;
}
.banner-icon{
    transform:rotate(135deg);
    font-size:1.8rem;
}
.banner-plus{
    font-size:0.8rem;
    padding-left:0.2rem;
    padding-right:0.2rem;
    border:2px solid white;
    border-radius:50%;
    font-weight: 700;
    transition: all 0.5s;
}
.banner-plus:hover{
    background-color: #FCE003;
    border:2px solid #FCE003;
}

#main-image{
    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
}
.readmore{
    top:100%;
    padding:0.5rem 1.2rem;
    background-color: transparent;
    border:2px solid white;
    text-align: center;
    position:absolute;
    color:white;
    transition: all 500ms; 
    z-index: 100;
}
.readmore:hover{
    color:#FCE003;
    background-color: rgba(255,255,255,0.3);
    text-decoration: underline;
}
#main-image:hover .readmore{
    
    top:45%;
}
.main-image-hover{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: var(--primary-color);
    opacity: 0;
    z-index:10;
    transition: opacity 500ms;
}
#main-image:hover .main-image-hover{
    opacity:0.5;
}



/* UTIL */

.hide{
    display:none;
}
.show-nav{
    display:flex;
}
.show-nested-list{
    transform:scaleY(1);
    z-index:30;
    
}

/* HEADER MEDIA QUERIES */
@media screen and (max-width:768px){
    .global__information{
        justify-content: center;
    }
    .global__information-securityphone{
        display:none;
    }
    .header__images{
        justify-content: center;
        text-align: center;
    }
    .header__images-search{
        display:none;
    }


    
    .menu__toggle{
        display:flex;
        align-items:center;
        padding:0.5rem;
        margin-right:1rem;
        
        gap:30px;
        justify-content: flex-end;
        color:white;
        cursor:pointer;
    }
    .header{
        padding:0;
    }

}


/* BODY MEDIAQUERIES */
@media screen and (min-width:768px){
    .shortcuts{
        display:flex;
        justify-content: space-between;
        padding-left:1rem;
        padding-right:1rem;
        gap:15px;
    }
    .shortcut{
        flex: 0 1 150px;
    }
    .container{
        grid-template-columns: 1fr 1fr;
        gap:30px;
    }
    
}

